# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ElementaryROV/ElementaryROV.vcxproj.user
ElementaryROV/ElementaryROV.vcxproj.filters
ElementaryROV/Debug/ElementaryROV.with_bootloader.hex
ElementaryROV/Debug/ElementaryROV.ino.with_bootloader.hex
ElementaryROV/Debug/ElementaryROV.ino.hex
ElementaryROV/Debug/ElementaryROV.ino.elf
ElementaryROV/Debug/ElementaryROV.hex
ElementaryROV/Debug/ElementaryROV.elf
ElementaryROV/Debug/board.buildinfo
.vs/ElementaryROV/v15/.suo
